doctype html
html(lang='en')
  head
    title 24sessoins
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', type='text/css', href='./css/vendor.bundle.css')
    link(rel='stylesheet', type='text/css', href='./css/bundle.css')

  body
    .page
      aside.page-sidebar#sidebarLeft
        .sidebar-header
          .user.user-online
            .avatar.avatar-big
              img.img-circle(src='./images/avatar-main.jpg', alt='')
            .user-details
              a#profile-menu-link(href='#').user-link
                span.user-name Andrew
                  i
              span.user-role Co-founder
        .sidebar-menu
          .sidebar-menu__filter
            .title-h4 Departament
            .custom-select
              select#sidebarFilter
                option(value='0', selected='selected') - Select category -
                option(value='1', selected='selected') Marketing
                option(value='2') Management

          .title-h4 Marketing
          ul.sidebar-menu__list
            li.sidebar-menu__item
              a(href='#') Overview
            li.sidebar-menu__item
              a(href='#') Schedule
            li.sidebar-menu__item
              a(href='#') Employees
            li.sidebar-menu__item
              a(href='#') Calendar
               span.badge.badge-info
                  | 3
            li.sidebar-menu__item
              a(href='#') Priorities    
            li.sidebar-menu__item
              a(href='#') Social Media  
          .title-h4 Management
          ul.sidebar-menu__list
            li.sidebar-menu__item
              a(href='#') Account
            li.sidebar-menu__item
              a(href='#') Payments
            li.sidebar-menu__item
              a(href='#') Segments
                span.badge.badge-info
                  | 8
            li.sidebar-menu__item 
              a(href='#') Contacts       
          a#logout.logout-link(href='#') Logout   
            i.fas.fa-sign-out-alt      
      .page-inner
        .container
          .page-title
            h2.title-h2 Top Performers
          .row
            .col-xs-12.col-sm-6
              h4.title-h4 Favourites
              .card.card-performers
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details   
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Ann Hunter
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 725
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details 
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Minnie Ferguson
                  .card-item__right
                    .payment.performers-payment 
                      span.currency $
                      span.currency-val 700
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details           
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Owen Grant
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 620
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details 
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Lewis Fowler
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 550
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details            
            .col-xs-12.col-sm-6
              h4.title-h4 Recent
              .card.card-performers
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details   
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details 
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details           
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details 
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details
          .row
            .col-xs-12.col-sm-6
              .card.card-payments
                .card-header.card-header__icon
                  | Payments
                  a(href="#").icon-circle.icon-right
                    i.fas.fa-plus
                .card-item
                  .card-item__left 
                    | Design Works 
                  .card-item__right
                     .status
                       span.label.label-danger delayed
                     .payment 
                        span.currency $
                        span.currency-val 2,580
                .card-item.card-header__icon
                  .card-item__left 
                    | New Illustrations
                  .card-item__right
                     .status
                       span.label.label-warning pending invoice
                     .payment 
                        span.currency $
                        span.currency-val 980
                .card-item
                  .card-item__left  
                    | UX Study
                  .card-item__right
                     .status
                       span.label.label-success approved
                     .payment 
                        span.currency $
                        span.currency-val 10,500
                .card-item
                  .card-item__left 
                    | Landing Page Design...
                  .card-item__right
                     .status
                        span.label.label-warning pending invoice
                     .payment 
                        span.currency $
                        span.currency-val 150    
                .card-item
                  .card-item__left 
                    | iOS App Design - 16...
                  .card-item__right
                     .status
                       span.label.label-notactive due in 1 week
                     .payment 
                        span.currency $
                        span.currency-val 3,500
                .card-item
                  .card-item__left 
                    | Design Works
                  .card-item__right
                     .status
                       span.label.label-notactive due in 1 week
                     .payment 
                        span.currency $
                        span.currency-val 2,580
                .card-item
                  .card-item__left 
                    | New Illustrations
                  .card-item__right
                     .status
                       span.label.label-notactive due in 1 week
                     .payment 
                        span.currency $
                        span.currency-val 980 
                .card-item
                  .card-item__left 
                    | UX Study
                  .card-item__right
                     .status
                       span.label.label-notactive due in 1 week
                     .payment 
                        span.currency $
                        span.currency-val 10,500               

            .col-xs-12.col-sm-6
              .card.card-tasks
                .card-header
                  | Upcoming Tasks
                  a(href="#").icon-circle.icon-right
                    i.fas.fa-plus
                .card-item.card-tasks__item
                  .card-item__left
                    i.fas.fa-check
                    span.card-tasks__text Create new prototype for the landing page
                  .card-item__right
                    .status
                      span.label.label-danger delayed
                .card-item.card-tasks__item
                  .card-item__left
                    i.fas.fa-check
                    span.card-tasks__text Add new Google Analytics code to all main files
                  .card-item__right
                    .status
                      span.label.label-warning pending invoice
                .card-item.card-tasks__item
                  .card-item__left
                    i.fas.fa-check
                    span.card-tasks__text Finish Dashboard UI Kit update
                  .card-item__right
                    .status
                      span.label.label-notactive due in 1 week
                .card-item.card-tasks__item
                  .card-item__left
                    i.fas.fa-check
                    span.card-tasks__text Update parallax scroll on team page
                  .card-item__right
                    .status
                      span.label.label-notactive due in 1 week
                .card-item.card-tasks__item.cheked
                  .card-item__left
                    i.fas.fa-check
                    span.card-tasks__text Research new user stories whith UX Specialist
                  .card-item__right
                    .status
                      span.label.label-danger delayed   
                .card-item.card-tasks__item.cheked
                  .card-item__left
                    i.fas.fa-check
                    span.card-tasks__text Research new user stories whith UX Specialist
                  .card-item__right
                    .status
                      span.label.label-danger delayed     
                .card-item.card-tasks__item.cheked
                  .card-item__left
                    i.fas.fa-check
                    span.card-tasks__text Research new user stories whith UX Specialist
                  .card-item__right
                    .status
                      span.label.label-danger delayed     
                .card-item.card-tasks__item.cheked
                  .card-item__left
                    i.fas.fa-check
                    span.card-tasks__text Research new user stories whith UX Specialist
                  .card-item__right
                    .status
                        span.label.label-danger delayed                                                     
  script(src='./js/bundle.js')
  script(src='./js/vendor.bundle.js')
    