doctype html
html(lang='en')
  head
    title 24sessoins
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', type='text/css', href='./css/vendor.bundle.css')
    link(rel='stylesheet', type='text/css', href='./css/bundle.css')

  body
    .page
      aside.page-sidebar#sidebarLeft
        .sidebar-header
          .user.user-online
            .avatar.avatar-big
              img.img-circle(src='./images/avatar-main.jpg', alt='')
            .user-details
              a#profile-menu-link(href='#').user-link
                span.user-name Andrew
                  i
              span.user-role Co-founder
        .sidebar-menu
          .sidebar-menu__filter
            .title-h4 Departament
            .custom-select
              select#sidebarFilter
                option(value='0', selected='selected') - Select category -
                option(value='1', selected='selected') Marketing
                option(value='2') Management

          .title-h4 Marketing
          ul.sidebar-menu__list
            li.sidebar-menu__item
              a(href='#') Overview
            li.sidebar-menu__item
              a(href='#') Schedule
            li.sidebar-menu__item
              a(href='#') Employees
            li.sidebar-menu__item
              a(href='#') Calendar
               span.badge.badge-info
                  | 3
            li.sidebar-menu__item
              a(href='#') Priorities    
            li.sidebar-menu__item
              a(href='#') Social Media  
          .title-h4 Management
          ul.sidebar-menu__list
            li.sidebar-menu__item
              a(href='#') Account
            li.sidebar-menu__item
              a(href='#') Payments
            li.sidebar-menu__item
              a(href='#') Segments
                span.badge.badge-info
                  | 8
            li.sidebar-menu__item 
              a(href='#') Contacts       
          a#logout.logout-link(href='#') Logout         
      .page-inner
        .container
          .page-title
            h2.title-h2 Top Performers
          .row
            .col-xs-12.col-sm-6
              h4.title-h4 Favourites
              .card.card-performers
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details   
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details 
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details           
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details 
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details            
            .col-xs-12.col-sm-6
              h4.title-h4 Recent
              .card.card-performers
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details   
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details 
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details           
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details 
                .card-item
                  .card-item__left 
                    .avatar.avatar-small
                      img.img-circle(src='/images/avatar1.jpg', alt='')
                    .performers-name
                      | Beatrice Hawkins
                  .card-item__right
                    .performers-payment 
                      span.currency $
                      span.currency-val 1200
                    .performers-element  
                      | 3 Elements
                    .performers-link__wrap
                      a.performers-link(href="#",title="View Personal Details")    
                        | View Personal Details
  script(src='./js/bundle.js')
  script(src='./js/vendor.bundle.js')
    